header {
    color: blueviolet;
    text-align: center;
    background-color: antiquewhite;
    padding: 2rem;
  }
  footer {
    color: white;
    text-align: center;
    background-color: black;
    padding: 2rem;
  }
  
  .content {
    padding: 2rem;
    display: block;
    align-items: center;
  }
